a {
    text-decoration: none;
}

#head_bar {
    background: #612e85;
    color: #fff;
}

#title_style {
    opacity: 70%;
}

/* #dropdownMenuButton1 {
    background-color: #00580f; 
    color: #ffffff; 
}
  
#dropdownMenuButton1:hover {
    background-color: #003f0b; 
    color: #ffffff; 
} */

#div_logo {
    text-align: center;
}

#img_logo {
    height: 5rem;
}

/* #nav_menu {
    background-color: #00580f;
} */

.menu_item {
    /* color: #fff; */
    text-align: center;
}

.center {
    margin: auto;
    width: 100%;
}