#head_bar {
    background: #612e85;
    color: #fff;
}

#title_style {
    opacity: 70%;
}

/* #dropdownMenuButton1 {
    background-color: #00580f; 
    color: #ffffff; 
}
  
#dropdownMenuButton1:hover {
    background-color: #003f0b; 
    color: #ffffff; 
} */



.text-center {
    text-align: center !important;
}

.position-relative {
    position: relative !important;
}

#div_logo {
    text-align: center;
}

#img_logo {
    height: 5rem;
}

/* #nav_menu {
    background-color: #00580f;
} */

.menu_item {
    /* color: #fff; */
    text-align: center;
}

.center {
    margin: auto;
    width: 100%;
}

.banner_slider {
    position: relative;
    text-align: center;
}

.banner_slider img {
    height: calc(50vh - 100px);
    width: auto;
    margin: 0 auto;
}

/* #slide_1 {
    background: url("../images/slider/slide_1.jpg") no-repeat;
    background-size: cover;
    border-radius: .5rem;
    background-position: center;
}

#slide_2 {
    background: url("../images/slider/slide_2.jpg") no-repeat;
    background-size: cover;
    border-radius: .5rem;
    background-position: center;
} */