a {
    text-decoration: none;
}

a:hover {
    color: #088a08 !important;
    text-decoration: none;
}

.my-lg-14 {
    margin-top: 5rem !important;
    margin-bottom: 5rem !important;
}

.mb-lg-10 {
    margin-bottom: 3rem !important;
}

.my-lg-14 {
    margin-top: 5rem !important;
    margin-bottom: 5rem !important;
}

.py-8 {
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
}

.mt-8 {
    margin-top: 2rem !important;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.mb-8 {
    margin-bottom: 2rem !important;
}

.mb-3 {
    margin-bottom: 0.75rem !important;
}

.mt-3 {
    margin-top: 0.75rem !important;
}

.mt-4 {
    margin-top: 1rem !important;
}

.align-items-center {
    align-items: center !important;
}

.justify-content-between {
    justify-content: space-between !important;
}

.d-flex {
    display: flex !important;
}

.start-0 {
    left: 0 !important;
}

.top-0 {
    top: 0 !important;
}

.position-absolute {
    position: absolute !important;
}

.text-inherit {
    /* color: var(--fc-gray-800); #21313c*/
    color: #21313c;
}

.bg-success {
    --fc-bg-opacity: 1;
    background-color: #198754 !important;
}

.bg-danger {
    --fc-bg-opacity: 1;
    background-color: #db3030 !important;
}

.text-muted {
    --fc-text-opacity: 1;
    /* color: var(--fc-secondary-color) !important;  */
    color: #889397 !important;
}

.text-decoration-none {
    text-decoration: none !important;
}

.text-dark {
    --fc-text-opacity: 1;
    color: rgba(var(--fc-dark-rgb), var(--fc-text-opacity)) !important;
}

.text-decoration-line-through {
    text-decoration: line-through !important;
}

.btn-green {
    background-color: #00580f; 
    color: #ffffff; 
}

.btn-green:hove{
    background-color: #003f0b; 
    color: #ffffff; 
}